/* index.css */
@import "./var.css";
@import "./blur.css";

:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #41d1ff 30%, #bd34fe);
  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #bd34fe 30%,
    #41d1ff 80%
  );
  --vp-home-hero-image-filter: blur(150px);

  --vp-layout-max-width: 100%;
}
